<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Globant :: Welcome to the HTML5 bootcamp</title>
	<script data-main="js/app" src="js/lib/require.js"></script>
  </head>
<body>
	<script type="x-tmpl" id="underscore-template">
		<h1>Movie list:</h1>
		<% _.each(movies, function(movie){ %>
		<li class="list">
			<p><strong>Movie name: <%= movie.name %></strong></p>
			<p>Duration: <%= movie.duration %> Mins</p>
			<p>Director: <%= movie.director %></p>
		</li>
		<% }); %>    
	</script> <!-- End Underscore template -->
	
	<ul class="main"></ul>

</body>
</html>